<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.occie"
            id="org.modmacao.cm.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.modmacao.cm.ui.popupMenus.AcceleoGenerateGenerateAnsiblerolesceletonsAction"
               enablesFor="+"
               id="org.modmacao.cm.ui.popupMenus.acceleoGenerateGenerateAnsiblerolesceletonsAction"
               icon="icons/default.gif"
               label="Generate Ansible role skeletons"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
